{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-cycle": 0,
    "import/newline-after-import": 1,
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ]
      }
    ],
    "react/no-access-state-in-setstate": 0,
    "react/button-has-type": 0,
    "react/no-array-index-key": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-no-target-blank": 0,
    "react/no-find-dom-node": 1,
    "react/prop-types": 0,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/prefer-stateless-function": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "react/sort-comp": [
      2,
      {
        "order": [
          "type-annotations",
          "instance-variables",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 100,
        "jsxSingleQuote": true,
        "quoteProps": "preserve"
      }
    ],
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "root": [
          "./"
        ],
        "alias": {
          "pages": "./src/pages",
          "redoc": "./src/common/redoc",
          "modules": "./src/modules"
        }
      }
    },
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/parser": "babel-eslint"
  },
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "ignoreRestSiblings": true
          }
        ]
      }
    }
  ]
}
